.header {
    background-color: #E6FAE4;
    padding: 2em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}


.column {
    float: left;
    width: 33.33%;
}

.pin-text {
    text-align: left;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.middleColumn {
    text-align: center
}

.rightColumn {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: clamp(25px, 2.9vw, 50px);
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: max(13px, 1em);
    margin-bottom: 0;
}

