.hidden {
    display:none;
}

.download-button {
    z-index: 1000;
    background-color: #FFFEFB;
    color: black;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: min-content;
    font-family: 'Work Sans', sans-serif;
}
