.grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: max(25px, calc(12.5vw - 100px)); /* gutter size offset */
    margin-right: 15vw;
    width: auto;
}
.grid-column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}



